.container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

@media (max-width: 900px) {
  .container {
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    padding: 20px !important;
  }
}
