:root {
  --app-gradient: linear-gradient(
    135deg,
    #0e73cc 1.93%,
    #41d1ff 14.86%,
    #bd34fe 77.82%,
    #624bbb 97.3%
  );
}

.gradient-text {
  background: var(--app-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

*::-webkit-scrollbar:vertical {
  width: 4px;
}

*::-webkit-scrollbar:horizontal {
  height: 4px;
}

*:hover::-webkit-scrollbar:horizontal {
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(140, 140, 140, 0.5);
}

*::selection {
  background: #bd34fe;
  color: #fff;
}

html {
  font-size: 18px;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

a {
  cursor: pointer;
  font-weight: 600;
}
