* {
  text-rendering: optimizeLegibility;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

*::-webkit-scrollbar:vertical {
  width: 4px;
}

*::-webkit-scrollbar:horizontal {
  height: 4px;
}

*:hover::-webkit-scrollbar:horizontal {
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(140, 140, 140, 0.5);
}

html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

.hoverable:hover {
  cursor: pointer;
  opacity: 0.75;
}

b,
strong {
  font-weight: 500;
  letter-spacing: -0.18px;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
notion-h {
  color: white !important;
}

.light b,
.light strong,
.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6,
.light notion-h {
  color: black !important;
}

@media screen and (min-width: 768px) {
  p,
  .notion-text {
    line-height: 1.75 !important;
  }

  .notion-code,
  p,
  .notion-text {
    margin-bottom: 1.25rem !important;
  }
}
