* {
  text-rendering: optimizeLegibility;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

*::-webkit-scrollbar:vertical {
  width: 4px;
}

*::-webkit-scrollbar:horizontal {
  height: 4px;
}

*:hover::-webkit-scrollbar:horizontal {
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(140, 140, 140, 0.5);
}

a {
  cursor: pointer;
  text-decoration: none !important;
  color: inherit;
}

@media screen and (min-width: 768px) {
  p,
  .notion-text,
  li {
    line-height: 2rem !important;
  }

  p,
  .notion-text {
    margin-bottom: 1rem !important;
  }
}

.notion li {
  padding: 0 !important;
}

.notion,
.notion * {
  color: inherit !important;
}

.notion-page {
  width: 100% !important;
  padding: 0 !important;
}

.notion-collection-page-properties {
  display: none !important;
}
