.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 80px 1fr;
  height: 100vh;
}

@media (max-width: 900px) {
  .container {
    padding: 0 !important;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
  }
}
