code[class*='language-'],
pre[class*='language-'] {
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: normal;
  line-height: 1.4;
  font-weight: 400;
  color: var(--colors-text-secondary);
  text-shadow: none;
}

pre[class*='language-'],
:not(pre) > code[class*='language-'] {
  background: var(--colors-bg-code);
}

pre[class*='language-'] {
  padding: var(--spacing-md);
  border-radius: var(--radii-sm);
  overflow: auto;
  position: relative;
  max-width: 90vw;
  width: 100%;
}

pre[class*='language-'] code {
  white-space: pre;
  display: block;
}

:not(pre) > code[class*='language-'] {
  padding: 0.15em 0.2em 0.05em;
  border-radius: 0.3em;
  border: 0.13em solid #7a6652;
  box-shadow: 1px 1px 0.3em -0.1em #000 inset;
}

.token.namespace {
  opacity: 0.7;
}

.token.token.property,
.token.string-property.property,
code.language-markup .token.attr-value {
  color: var(--colors-text-secondary);
}

.token.boolean,
.token.number,
.token.string,
.token.operator,
.token.punctuation,
.token.atrule,
.token.attr-value,
.token.keyword,
.token.important,
.token.deleted,
.token.selector,
.token.inserted,
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.attr-name,
.token.property,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--colors-text-dimmed);
}

.token.regex,
.token.statement {
  color: #76d9e6;
}

.token.placeholder,
.token.variable {
  color: #fff;
}

.token.important,
.token.statement,
.token.bold {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

.token.italic {
  font-style: italic;
}

code.language-markup {
  color: #f9f9f9;
}

code.language-markup .token.tag {
  color: #ef3b7d;
}

code.language-markup .token.attr-name {
  color: #a6e22d;
}

code.language-markup .token.script .token.keyword,
code.language-markup .token.style,
code.language-markup .token.script {
  color: var(--colors-primary);
  font-weight: 500;
}

/* Line highlight plugin */
.line-highlight.line-highlight {
  padding: 0;
  background: rgba(255, 255, 255, 0.08);
}

.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
  padding: 0.2em 0.5em;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  height: 1em;
  line-height: 1em;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
