name: E2E Tests
on: [push]

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.npm
            ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

      - name: Install dependencies
        run: npm install --force

      - name: Static validation
        run: npm run validate

      - name: Cypress run
        uses: cypress-io/github-action@master
        env:
          NOTION_EXTENSION_TOKEN: ${{ secrets.NOTION_EXTENSION_TOKEN }}
          NOTION_BROWSER_TOKEN: ${{ secrets.NOTION_BROWSER_TOKEN }}
          NOTION_RESOURCES_DB_ID: ${{ secrets.NOTION_RESOURCES_DB_ID }}
          NOTION_BLOG_DB_ID: ${{ secrets.NOTION_BLOG_DB_ID }}
          NOTION_STACK_DB_ID: ${{ secrets.NOTION_STACK_DB_ID }}
          NOTION_HANDBOOKS_DB_ID: ${{ secrets.NOTION_HANDBOOKS_DB_ID }}
        with:
          build: npm run build
          start: npm run start
